<div class="experience margin-b-50">
    <h4><b>{{ Experience.Name }}</b></h4>
    <h5 class="font-yellow"><b>{{ Experience.Location}}</b></h5>
    <h6 class="font-lite-black margin-t-10">{{ Experience.Time }}</h6>
    <h6 class="font-lite-black margin-t-10">Supervisor: {{ Experience.Supervisor }}</h6>
    <p class="margin-tb-30">{{ Experience.Note }}</p>
{#    <ul class="list margin-b-30">#}
{#        <li><span>Duis non volutpat arcu, eu mollis tellus.</span></li>#}
{#        <li><span>Quis consequat nulla effi citur at.</span></li>#}
{#        <li><span>Sed finibus aliquam neque sit.</span></li>#}
{#    </ul>#}
</div><!-- experience -->