{% load static %}
<div class="row">

    <a target="_blank" href="https://www.linkedin.com/in/xinyu96/" class="col-sm-3 social_icon_link"><img src="{% static "images/linkedin.png" %}" class="social_icon" alt="..." ></a>
    <a target="_blank" href="https://github.com/xzhuah" class="col-sm-3 social_icon_link"><img src="{% static "images/github.png" %}" class="social_icon" alt="..." ></a>
    <a target="_blank"  href="https://www.youtube.com/channel/UCIisTgTfkG25LZMmXaRBlPQ" class="col-sm-3 social_icon_link"><img src="{% static "images/youtube.png" %}" class="social_icon" alt="..." ></a>
    <a target="_blank"  href="https://www.facebook.com/xzhuah" class="col-sm-3 social_icon_link"><img src="{% static "images/facebook.png" %}" class="social_icon" alt="..." ></a>

</div>



