{% load static %}
<div class="info_card">
<h2 class="info_title">ZHU Xinyu</h2>
<div class="info_content">Master of Science in Information technology - Information security</div>
<div class="card_icon"><img src="{% static "images/iPhone-512.png" %}" height="10%" class="rounded"> (852) 65608269</div>
<div class="card_icon"><img src="{% static "images/loc.png" %}" height="10%" class="rounded"> HKUST, Hong Kong</div>
<div class="card_icon"><img src="{% static "images/mail.png" %}" height="10%" class="rounded"> <a href="mailto:xinyuzhu@andrew.cmu.edu" style="color:inherit"> Send an Email</a></div>
<div class="card_icon"><img src="{% static "images/resume.png" %}" height="10%" class="rounded"> <a target= "_blank" href="{% static "file/Xinyu ZHU.pdf" %}" style="color:inherit">Download My Resume</a></div>
</div>

